<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Message</title>
  </head>
  <body>
    <main class="container">
      <article>
        <nav>
          <ul>
            <li><strong>{{ author_nickname }}</strong></li>
          </ul>
          <ul>
            <li>Likes: {{ likes_num }}</li>
            <li>Reposts: {{ reposts_num }}</li>
          </ul>
        </nav>
        “{{ text }}” — {{ author_nickname }}
      </article>
    </main>
  </body>
</html>
